/* No seu arquivo .css */

.jogo_da_velha {
  width: 150px;
  height: 150px;
  /* 1. Transforma o container num gerenciador de layout */
  display: flex; 
  /* 2. Permite que os quadrados quebrem de linha (3 por linha) */
  flex-wrap: wrap; 
}

.quadrado {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: 1.5rem;
  box-sizing: border-box; 
  padding: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.jogo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}